body {
    background-color: #f16f96;
}
h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    border-bottom: 3px solid #e42e47;
    padding-bottom: 15px;
    line-height: 1.6;
}
#sobre-mim {
    font-size: 20px;
    color: white;
    padding: 20px;
    border-top: 3px solid #e42e47;
}
#sobre-mim2 {
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    padding: 15px;
}
.lista {
    font-size: 15px;
    color: white;
    font-family: sans-serif;
}
li {
    font-size: 15px;
    color: white;
    font-family: sans-serif
}